.cart {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    display: none;
    padding-right: 10px;
    overflow-y: auto; /* Agrega desplazamiento vertical */
    overflow-x:hidden;
    max-height: 100vh; /* Establece una altura máxima para evitar que se desborde de la pantalla */
    background: #222;
}

.cart > img {
    aspect-ratio: 16/9;
    width: 100%;
}

ul {
    list-style: none;
}

.cart > aside {
    width: 100%;
    height: 100%;
}

.product-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.cart-button {
    background: #db2222;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 9999px;
    z-index: 9999;
}

.cart-button:hover {
    scale: 1.1;
}

.cart-button-checkbox {
    display: none;
}

.cart-button ~ input:checked ~ .cart {
    display: block;
    height: 100%;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

